@using DFC.App.ActionPlans.Constants
@using DFC.App.ActionPlans.Helpers
@using DFC.App.ActionPlans.Services.DSS.Enums
@using DFC.Personalisation.Common.Extensions
@model DFC.App.ActionPlans.ViewModels.ChangeGoalCompositeViewModel
@{
    var goalStatusId = @Model.GetElementId("govUkRadioButton", "GoalStatus");
}
<partial name="~/ViewComponents/ErrorSummary/ErrorSummary.cshtml"/>

<div class="govuk-width-container">
    <div class="govuk-grid-row ">
        <div class="govuk-grid-column-two-thirds ">
            <form id="@Model.GetElementId("form", "Form")" action="@Model.CompositeSettings.Path/@CompositeViewModel.PageId.ChangeGoalStatus" class="govuk-form-group" method="post">
                @Html.HiddenFor(m => m.ActionPlanId)
                @Html.HiddenFor(m => m.InteractionId)
                @Html.HiddenFor(m => m.Goal.GoalId)
                @Html.HiddenFor(m => m.CustomerId)
                @Html.HiddenFor(m => m.Goal.DateGoalShouldBeCompletedBy)
                
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="goal-status-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <govukHeadingH1 text="Change goal status" additional-class="govuk-fieldset__heading"></govukHeadingH1>
                        </legend>
                        <span id="goal-status-hint" class="govuk-hint">
                            We will update your adviser's records with this change.
                        </span>

                        <govukError id="@Model.GetElementId("govukTextInputError", "GoalStatusInpuError");" hidden="@ViewData.ModelState.IsValid" text="@(ViewData.ModelState[Constants.GoalStatus] == null ? "" : ViewData.ModelState[Constants.GoalStatus].Errors[0].ErrorMessage)"></govukError>


                        <div class="govuk-radios" id="GoalStatus">

                            @{
                                foreach (var status in ((GoalStatus[])Enum.GetValues(typeof(GoalStatus))))
                                {
                                    <govukRadioButton id="@(goalStatusId+status)" name="GoalStatus" value="@((int)status)">
                                        <govukRadioLabel text="@status.GetDisplayName()" for="@(goalStatusId+status)" ></govukRadioLabel>
                                    </govukRadioButton>
                                }
                            }

                        </div>


                    </fieldset>
                </div>
                <br />

                <govukButton id="@Model.GetElementId("govukSecondaryButton", "Continue")" text="Update status"></govukButton>
                <govukButtonLink additional-class="govuk-button--secondary" id="@Model.GetElementId("govukButtonLink", "Cancel")" LinkTitle="Cancel" LinkText="Cancel" LinkHref="@(Urls.GetViewGoalUrl(Model.CompositeSettings.Path, new Guid(Model.Goal.GoalId)))"></govukButtonLink>

            </form>
        </div>
        <div class="action-plan-secondary-content govuk-grid-column-one-third  ">
            <partial name="~/ViewComponents/YourAdviser/youradvisor.cshtml" model="@Model.Adviser"/>
            <partial name="~/ViewComponents/contact/contact.cshtml" model="@Model"/>
        </div>
    </div>
</div>
